<div style="display: flex;height:750px;justify-content: center;align-items:center;">
  <div class="main-container flex">
    <div class="selection-cont flex"></div>
      <select #c1 name="" id="country1" (mouseleave)="changebase(c1.value)">
        <option value="USD">Us Dollar</option>
        <option value="EUR">Euro</option>
        <option value="CNY">Yuan</option>
        <option value="KRW">KRW</option>
        <option value="KPW">Won</option>
        <option value="JPY">Yen</option>
        <option value="CAD">Canadian Dollar</option>
      </select>
      <p>to</p>
      <select #c2 name="" id="country1" (mouseleave)="tocountry(c2.value)">
        <option value="USD">Us Dollar</option>
        <option value="EUR">Euro</option>
        <option value="CNY">Yuan</option>
        <option value="KRW">KRW</option>
        <option value="KPW">Won</option>
        <option value="JPY">Yen</option>
        <option value="CAD">Canadian Dollar</option>
      </select>
    <button (click)="convert()">Submit</button>
    <div class="result-container">
      <p>1 {{base}}</p>
      <p>=</p>
      <p>{{result}} {{cont2}}</p>
    </div>
  </div>
</div>